.square {
  min-height: 50px;
  min-width: 50px;
  border: 1px black solid;
}

.black {
  background-color: black;
  min-height: 50px;
  min-width: 50px;
}

#chest {
  margin: 10px auto;
  display: grid;
  column-gap: 0;
  height: 500px;
  width: 500px;
}
